@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fff;
		--foreground: #64748b;
		--headings: #0f172a;

		--card: #fff;
		--card-foreground: #64748b;

		--popover: #fff;
		--popover-foreground: #64748b;

		--primary: #328fff;
		--primary-foreground: #fff;

		--secondary: #cbd5e1;
		--secondary-foreground: #fff;

		--muted: #cbd5e1;
		--muted-foreground: #fff;

		--accent: #328fff;
		--accent-foreground: #fff;

		--destructive: #e63946;
		--destructive-foreground: #fff;

		--border: #cbd5e1;
		--input: #cbd5e1;
		--ring: #328fff;

		--radius: 0.5rem;
	}

	.dark {
		--background: #0f172a;
		--foreground: #94a3b8;
		--headings: #e2e8f0;

		--card: #0f172a;
		--card-foreground: #94a3b8;

		--popover: #0f172a;
		--popover-foreground: #94a3b8;

		--primary: #328fff;
		--primary-foreground: #fff;

		--secondary: #334155;
		--secondary-foreground: #fff;

		--muted: #334155;
		--muted-foreground: #fff;

		--accent: #328fff;
		--accent-foreground: #fff;

		--destructive: #e63946;
		--destructive-foreground: #fff;

		--border: #334155;
		--input: #334155;
		--ring: #328fff;
	}
}

@layer base {
	.border-border {
		border-color: var(--border);
	}

	* {
		@apply border-border;
	}

	*,
	*::before,
	*::after {
		@apply box-border;
	}

	html {
		accent-color: var(--accent);
		caret-color: var(--primary);
	}

	::selection {
		background-color: var(--primary);
		color: var(--primary-foreground);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--headings);
	}
}
