@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fff;
		--foreground: #1d2939;
		--headings: #000;

		--card: #fff;
		--card-foreground: #1d2939;

		--popover: #fff;
		--popover-foreground: #1d2939;

		--primary: #8685ef;
		--primary-foreground: #fff;

		--secondary: #4f4f4f;
		--secondary-foreground: #fff;

		--muted: #4f4f4f;
		--muted-foreground: #fff;

		--accent: #8685ef;
		--accent-foreground: #fff;

		--destructive: #e63946;
		--destructive-foreground: #fff;

		--border: #d1d1d1;
		--input: #d1d1d1;
		--ring: #8685ef;

		--radius: 0.5rem;
	}

	.dark {
		--background: #3d3d3d;
		--foreground: #d0d5dd;
		--headings: #fff;

		--card: #3d3d3d;
		--card-foreground: #d0d5dd;

		--popover: #3d3d3d;
		--popover-foreground: #d0d5dd;

		--primary: #8685ef;
		--primary-foreground: #fff;

		--secondary: #4f4f4f;
		--secondary-foreground: #fff;

		--muted: #4f4f4f;
		--muted-foreground: #fff;

		--accent: #8685ef;
		--accent-foreground: #fff;

		--destructive: #e63946;
		--destructive-foreground: #fff;

		--border: #4f4f4f;
		--input: #4f4f4f;
		--ring: #8685ef;
	}
}

@layer base {
	.border-border {
		border-color: var(--border);
	}

	* {
		@apply border-border;
	}

	*,
	*::before,
	*::after {
		@apply box-border;
	}

	html {
		accent-color: var(--primary);
		caret-color: var(--primary);
	}

	::selection {
		background-color: var(--primary);
		color: var(--primary-foreground);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--headings);
	}
}
